{% extends 'base.html' %}

{% block content %}
<h1 class="h1style">Detalle del Dueño</h1>
<div class="h1style">
<p>Nombre: {{ duenio.name }}</p>
<p>Apellido: {{ duenio.lastname }}</p>
<p>Localidad: {{ duenio.localidad }}</p>
<p>Mascota: {{ duenio.animal.name }}</p>
<a href="/duenios/indexduenio" style="color: blueviolet;">Volver a la lista</a>
<a href="/duenios/updateduenio" style="color: darkgoldenrod;">Actualizar</a>
<a href="/duenios/deleteduenio" style="color:red;">Eliminar</a>
</div>
{% endblock %}
