body {
    background-image: url('../images/downloadd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.circular {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
}

.h1style{
    text-align: center;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(184, 83, 24, 0.751); 
    max-width: 950px;
    margin: 50px auto; 
    border-radius: 8px; 
}

p {
    color: rgb(226, 195, 43);
}

.clasnav {
    background-color: rgb(255, 125, 125);

    a {
        background-color: aqua;
    }
}

.imgnav {
    width: 50px;
    padding-left: 5px;
    border-radius: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

footer {
    margin-top: 500px;
}


.images {
    display: flex;
    flex-direction: column;
}



main {
    display: flex;
    justify-content: space-around;
}

.btn-display {
    display: flex;
    justify-content: space-evenly;
}

.form-button-layout {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.unauthorized {
    width: 98.5vw;
    height: 110vh;
    background-image: url('../images/401-error-wordpress-featured-image.jpg');
    background-size: cover; /* Adjust the size of the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
}