{% extends 'base.html' %}

{% block content %}
<h1 class="h1style">Crear Nuevo Animal</h1> 
    <form action="/animales/create" class="h1style" method="POST">       
        <label for="name">Nombre:</label>        
        <input type="text" id="name" name="name" required>   
        <br>     
        <label for="photo">Foto (URL):</label>        
        <input type="url" id="photo" name="photo" required>
        <br>       
        <label for="characteristic1">Característica 1:</label>       
        <input type="text" id="characteristic1" name="characteristic1" required>
        <br>        
        <label for="characteristic2">Característica 2:</label>        
        <input type="text" id="characteristic2" name="characteristic2" required>
        <br>      
        <label for="characteristic3">Característica 3:</label>        
        <input type="text" id="characteristic3" name="characteristic3">
        <br>   
        <label for="characteristic4">Característica 4:</label>        
        <input type="text" id="characteristic4" name="characteristic4">
        <br>
        <button type="submit">Crear</button>
</form>

{% endblock %}
