<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud de Animales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="h1style">
        <a href="/animales/home" style="color: blueviolet;">Home</a>
        <a href="/animales/create" style="color: cadetblue;">Create</a>
        <a href="/duenios/createduenio" style="color: brown;" >Create Dueño</a>
        <a href="/duenios/indexduenio" style="color: chartreuse;" >Lista de Dueños</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

