{% extends 'base.html' %}

{% block content %}
<h1 class="h1style">Lista de Animales</h1>
<ul>
    {% for animal in animals %}
    <li class="h1style">
        <a href="{{ url_for('detail', id=animal.id) }}">{{ animal.name }}</a> - {{ animal.characteristic1 }} - {{ animal.characteristic3 }}
        <br>
        <a href="{{ url_for('update', id=animal.id) }}" style="color: darkgoldenrod;" >Actualizar</a>
        <a href="{{ url_for('delete', id=animal.id) }}" style="color:red;">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
