{% extends 'base.html' %}

{% block content %}
<h1 class="h1style">Lista de Dueños</h1>
<ul>
    {% for duenio in duenios %}
    <li class="h1style">
        <a href="{{ url_for('detail_duenio', id=duenio.id) }}">{{ duenio.name }}</a> - {{ duenio.lastname }} 
        <br>
        <a href="{{ url_for('update_duenio', id=duenio.id) }}" style="color: darkgoldenrod;" >Actualizar</a>
        <a href="{{ url_for('delete_duenio', id=duenio.id) }}" style="color:red;">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}